<!-- Page Header 
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom" v-show="currentPageId === 'home'">主页</h2>
    <h2 class="no-margin-bottom" v-show="currentPageId === 'mods-market'">模组市场</h2>
    <h2 class="no-margin-bottom" v-show="currentPageId === 'assets-store'">素材商店</h2>
    <h2 class="no-margin-bottom" v-show="currentPageId === 'character'">角色卡</h2>
    <h2 class="no-margin-bottom" v-show="currentPageId === 'mod'">模组</h2>
    <h2 class="no-margin-bottom" v-show="currentPageId === 'follower'">我的关注</h2>
    <h2 class="no-margin-bottom" v-show="currentPageId === 'account-safety'">个人信息 -> 账号安全</h2>

    <h2 class="no-margin-bottom" v-show="currentPageId === 'new-character'">创建角色卡</h2>

  </div>
</header>
-->
<!-- Breadcrumb
<div class="breadcrumb-holder container-fluid">
  <div class="breadcrumb" v-show="currentPageId === 'character'">
    <button type="button" class="btn btn-primary breadcrumb-item"
      @click="currentPageId = 'new-character'">创建角色卡</button>
  </div>
  <div class="breadcrumb" v-show="currentPageId === 'new-character'">
    <button type="button" class="btn btn-secondary breadcrumb-item"
      @click="currentPageId = 'character'">返回</button>
  </div>
</div>
-->

<!-- Character -->
<section id="character" v-show="currentPageId === 'character'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-close">
            <div class="dropdown">
              <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                class="dropdown-toggle">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right has-shadow">
                <a href="#" class="dropdown-item">
                  <i class="fa fa-pencil-square-o"></i>编辑
                </a>
                <a href="#" class="dropdown-item">
                  <i class="fa fa-times"></i>删除
                </a>
              </div>
            </div>
          </div>
          <div class="card-header d-flex align-items-center">
            <h3 class="h4 m-auto">角色A</h3>
          </div>
          <div class="card-body">
            <p>etestset</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- New Character -->
<section id="new-character" v-show="currentPageId === 'new-character'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 form-container">
        <!-- Form Elements -->
        <form id="new-character-form" class="form-validate"
          @submit="function(e) { e.preventDefault(); if($('#new-character-form').valid()) pageNewCharacterSubmitData(); }">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h3 class="h4 px-3">角色卡</h3>
            </div>
            <div class="card-body">
              <div class="form-group row align-items-center">
                <label class="col-sm-2 form-control-label">立绘选择</label>
                <div class="col-sm-10">
                  <input id="new-character-portrait-file" type="file" class="form-control-file"
                    @change="pageNewCharacterChangePortrait($event.target.files[0])" />
                </div>
              </div>
              <div class="form-group row align-items-center">
                <div class="col-sm-10 offset-sm-2">
                  <image-cropper :img-src="page.newCharacter.portrait.path" ref="portraitCropper">
                  </image-cropper>
                </div>
              </div>
              <div class="form-group row align-items-center">
                <label class="col-sm-2 form-control-label">名字</label>
                <div class="col-sm">
                  <input type="text" class="form-control" required maxlength="50"
                    v-model="page.newCharacter.name" name="characterName" />
                </div>
              </div>
              <div class="form-group row align-items-center">
                <label class="col-sm-2 form-control-label">描述</label>
                <div class="col-sm">
                  <textarea class="form-control" required v-model="page.newCharacter.name"
                    name="characterName"></textarea>
                </div>
              </div>
              <div class="form-group row align-items-center">
                <div class="col-sm-4 offset-sm-2">
                  <button type="submit" class="btn btn-primary">创建</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Follower -->
<section id="account-info" v-show="currentPageId === 'follower'">

</section>
